## Игнорировать временные файлы Visual Studio, результаты сборки и
## файлы, созданные популярными надстройками Visual Studio.
##
## Получить последнюю информацию от https://github.com/github/gitignore/blob/main/VisualStudio.gitignore

# Пользовательские файлы
*.rsuser ( пользователь )
*.suo
*.пользователь
*.userosscache кэш пользователя
*.sln.докторанты

# Пользовательские файлы (MonoDevelop / Xamarin Studio)
*.пользовательские настройки

# Моно автоматически генерируемые файлы
моно_краш.*

# Построение результатов
[Дд]ебуг/
[Дд]ebugPublic/
[Рр]элиз/
[Рр]элеазы/
x64/
x86/
[Ww][Ii][Nn]32/
[Аа][Рр][Мм]/
[Аа][Рр][Мм]64/
блд/
[Вв]в/
[Оо]би Джей/
[Лл]og/
[Лл]ogs/

# Visual Studio 2015/2017 каталог кэша/параметров
.против/
# Раскомментируйте, если у вас есть задачи, которые создают статические файлы проекта в wwwroot
#wwwroot/

# Автоматически сгенерированные файлы Visual Studio 2017
Сгенерированный\ Файлы/

# Результаты теста MSTest
[Тт]est[Рр]результат*/
[Вв]уилд[Лл]og.*

# НАнит
*.VisualState.xml
TestResult.xml
НАнит-*.xml

# Результаты построения проекта ATL
[Дд]ebugPS/
[Рр]элеазеПС/
dlldata.c

# Результаты контрольных тестов
Бенчмаркдотнет.Артефакты/

# .ЧИСТОЕ Ядро
project.lock.json проект.блокировка.json
проект.фрагмент.блокировка.json
артефакты/

# ASP.NET Строительные леса
ScaffoldingReadMe.txt

# Стилкоп
StyleCopReport.xml

# Файлы, созданные Visual Studio
*_i.c
*_п.с
*_х.х
*.ilk
*.мета
*.обж
*.iobj
*.пч
*.pdb
*.ipdb
*.пгк
*.пгд
*.рсп
*.сбр
*.tlb
*.тли
*.tlh
*.tmp
*.tmp_proj
*_wpftmp.csproj
*.журнал регистрации
*.tlog
*.vspscc
*.vssscc
.строит
*.пидб
*.svclog
*.scc

# Тестовые файлы Chutzpah
_Наглость*

# Файлы кэша Visual C++
ипч/
*.апс
*.НКО
*.opendb
*.opensdf
*.sdf
*.кэш - файл
*.VC.db
*.VC.VC.opendb

# Профилировщик Visual Studio
*.псесс
*.всп
*.vspx
*.сок

# Файлы трассировки Visual Studio
*.e2e

# Локальное рабочее пространство TFS 2012
$тф/

# Инструментарий автоматизации наведения
*.gpState

# ReSharper - это надстройка для программирования .NET
_Перетачиватель*/
*.[Рр]E[Сс]харпер
*.Настройки точек.пользователь

# TeamCity - это надстройка для сборки
_Командный город*

# dotCover - это инструмент покрытия кода
*.Точечная обложка

# AxoCover - это инструмент покрытия кода
.Аксокровер/*
!.Аксокровер/настройки.json

# Coverlet - это бесплатный кроссплатформенный инструмент для покрытия кода
охват*.json
охват*.xml
охват*.Информация

# Результаты покрытия кода Visual Studio
*.охват
*.охватываемый объем

# NCrunch
_NCrunch_*
.*хруст*.local.xml
nCrunchTemp_*

# Могучий выбор
*.Мм.*
AutoTest.Net/

# Веб-верстак (sass)
.sass-кэш/

# Выходная папка Installshield
[ee]xpress/

# DocProject - это надстройка генератора документации
Докпроект/помощь в построении/
Докпроект/Справка/*.HxT
Докпроект/Справка/*.HxC
Докпроект/Справка/*.hhc
Докпроект/Справка/*.ххк
Докпроект/Справка/*.hhp
Докпроект/Справка/HTML2
Докпроект/Справка/HTML

# Каталог с одним щелчком мыши
опубликовать/

# Публикация веб-вывода
*.[Пп]ublish.xml
*.azurePubxml
# Примечание: Прокомментируйте следующую строку, если вы хотите проверить настройки веб-развертывания,
# но строки подключения к базе данных (с потенциальными паролями) будут незашифрованными
*.pubxml
*.опубликовать проект

# Параметры публикации веб-приложения Microsoft Azure. Прокомментируйте следующую строку, если вы хотите
# проверка параметров публикации веб-приложения Azure, но конфиденциальная информация, содержащаяся
# в этих сценариях будут незашифрованные
Публикации скриптов/

# Пакеты NuGet
*.нупкг
# Пакеты символов NuGet
*.снупкг
# Папка пакетов может быть проигнорирована из-за восстановления пакета
**/[Пп]запасы/*
# за исключением build/ , который используется в качестве целевого объекта MSBuild.
!**/[Пп]запасы/строить/
# Раскомментируйте при необходимости однако как правило он будет восстановлен при необходимости
#!**/[Pp]учетные записи/репозитории.config
# Файлы project.json NuGet v3 создают больше игнорируемых файлов
*.nuget.реквизит
*.nuget.цели

# Выходные данные сборки Microsoft Azure
csx/
*.build.csdef сборка.csdef

# Эмулятор Microsoft Azure
ecf/
ркп ( б )/

# Каталоги и файлы пакетов приложений Windows Store
Пакеты приложений/
BundleАртифакты/
Посылка.StoreAssociation.xml
_pkginfo.txt
*.приложение x
*.appxbundle
*.appxupload загрузить

# Файлы кэша Visual Studio
# файлы, заканчивающиеся на .cache , можно игнорировать
*.[CC]боль
# но следите за каталогами, заканчивающимися на .cache
!?*.[CC]боль/

# Прочее
Клиентская корзина/
~$*
*~
*.dbmdl
*.dbproj.schemaview
*.jfm
*.пфх
*.настройки публикации
орлеан.codegen.cs

# Включение файлов со строгими именами может представлять угрозу безопасности
# (https://github.com/github/gitignore/pull/2483#issue-259490424)
#*.снк

# Поскольку существует несколько рабочих процессов, раскомментируйте следующую строку, чтобы игнорировать bower_components
# (https://github.com/github/gitignore/pull/1529#issuecomment-104372622)
#bower_компоненты/

# RIA/Проекты Silverlight
Сгенерированный код/

# Резервное копирование файлов и отчетов при преобразовании старого файла проекта
# на более новую версию Visual Studio. Резервные копии файлов не нужны,
# потому что у нас есть git ;-)
_Файлы UpgradeReport_Files/
Резервное копирование*/
Список обновлений*.xml
Список обновлений*.htm
Резервное копирование ServiceFabricBackup/
*.rptproj.бак

# Файлы SQL Server
*.мдф
*.ldf
*.ндфл

# Проекты бизнес-аналитики
*.rdl.данные
*.bim.макет
*.bim/тим_*.Настройки
*.rptproj.rsuser
*- [Вв]ackup.rdl
*- [Вв]акуп ([0-9]).рдл
*- [Вв]акуп ([0-9][0-9]).рдл

# Microsoft Подделывает
Поддельные сборки/

# Файл настройки плагина GhostDoc
*.GhostDoc.xml

# Node.js Инструменты для Visual Studio
.ntvs_analysis.дата
node_modules узловые модули/

# Журнал сборки Visual Studio 6
*.plg

# Файл параметров рабочей области Visual Studio 6
*.опт

# Автоматически сгенерированный файл рабочей области Visual Studio 6 (содержит, какие файлы были открыты и т. Д.)
*.vbw

# Автоматически сгенерированный файл проекта Visual Studio 6 (содержит, какие файлы были открыты и т. Д.)
*.vbp

# Рабочая область Visual Studio 6 и файл проекта (рабочие файлы проекта, содержащие файлы для включения в проект)
*.dsw
*.dsp

# Технические файлы Visual Studio 6
*.НКО
*.апс

# Выходные данные сборки Visual Studio LightSwitch
**/*.HTMLClient ( HTMLClient )/Сгенерированные артефакты
**/*.Клиент рабочего стола/Сгенерированные артефакты
**/*.Клиент рабочего стола/ModelManifest.xml
**/*.Сервер/Сгенерированные артефакты
**/*.Сервер/ModelManifest.xml
_Pvt - расширения

# Менеджер зависимостей пакетов
.paket/paket.exe
пакет-файлы/

# ПОДДЕЛКА - F# Make
.подделка/

# Личные настройки CodeRush
.кр/личный

# Инструменты Python для Visual Studio (PTVS)
__пикеш__/
*.pyc

# Торт - Раскомментируйте, если вы его используете
# Инструменты/**
# !инструменты /пакеты.config

# Студия вкладок
*.tss

# Конфигурационный файл JustMock от Telerik
*.jmconfig

# Вывод сборки BizTalk
*.btp.cs
*.btm.cs
*.odx.cs
*.xsd.cs

# Результаты анализа пользовательского интерфейса OpenCover
Открытая обложка/

# Вывод локального запуска Azure Stream Analytics
ASALocalRun/

# Двоичный и структурированный журнал MSBuild
*.бинлог

# Конфигурационный файл отладчика графического процессора NVidia Nsight
*.пользователь nvuser

# Рабочая папка MFractors (инструмент повышения производительности Xamarin)
.трактор/

# Локальная история для Visual Studio
.локальная история/

# Файлы истории Visual Studio (VSHistory)
.вшистория/

# Временная база данных BeatPulse healthcheck
healthchecksdb проверка работоспособности

# Папка резервного копирования для инструмента преобразования ссылок на пакеты в Visual Studio 2017
Резервное копирование миграции/

# Рабочая папка Ionide (кроссплатформенный F # VS Code tools)
.ионид/

# Fody - автоматически сгенерированная XML-схема
FodyWeavers.xsd

# VS Code файлы для тех, кто работает с несколькими инструментами
.vscode ( код vscode )/*
!.vscode ( код vscode )/настройки.json
!.vscode ( код vscode )/задачи.json
!.vscode ( код vscode )/запуск.json
!.vscode ( код vscode )/расширения.json
*.код-рабочее пространство

# Локальная история для кода Visual Studio
.История/

# Файлы установщика Windows из выходных данных сборки
*.кабина
*.msi
*.msix
*.мсм
*.msp

# Наездник JetBrains
*.sln.iml